<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Computing Coursework</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>All-in-one Dashboard</h2>
      <br>
      <table>
        <tr>
          <td>
              <p>Click <a href="/login">here</a> to Login.</p>
          </td>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td>
              <p>Click <a href="/signup">here</a> to Signup.</p>
          </td>
        </tr>

      </table>
      
       
      
    </div>
  </body>
</html>